<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>
<div class="container">
    <div class="button-container">
        <button class="button" onclick="goPage('menu')" >점심뭐먹지</button>
        <button class="button" onclick="alert('버튼2 클릭')">버튼 2</button>
        <button class="button" onclick="alert('버튼3 클릭')">버튼 3</button>
        <button class="button" onclick="alert('버튼4 클릭')">버튼 4</button>
    </div>
</div>
<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>
